In [1]:
#String inside quotes
print("HELLO")

HELLO

In [2]:
#string with back slash
print("hello\
python")

hellopython

In [3]:
#string with new line
print("hello\npython")

hello
python

In [4]:
#string with tab
print("hello\tpython")

hello	python

In [5]:
print("""Let's Upgarde""")

Let's Upgarde

In [6]:
#triple quotes
print("""/ / / / / / / / /
/ / / / / / / / /
__,____,       
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -""")

/ / / / / / / / /
/ / / / / / / / /
__,____,
/____,_/ \ .;';';.
,l__[]__,l_! ,,)(,,
- - - - - -

In [7]:
#back slash for neglecting
print('I\'ll be waiting for u')

I'll be waiting for u

In [9]:
bike="ninja H2R"
price=7600000
mlg=15
print("My dream bike is",bike,"Price in india is",price,"Its mileage is",mlg)

My dream bike is ninja H2R Price in india is 7600000 Its mileage is 15

In [10]:
print("My dream bike is %s Price in india is %d Its mileage is %d"%(bike,price,mlg))

My dream bike is ninja H2R Price in india is 7600000 Its mileage is 15

In [13]:
print("My dream bike is %10s Price in india is %5d Its mileage is %4d"%(bike,price,mlg))

My dream bike is  ninja H2R Price in india is 7600000 Its mileage is   15

In [14]:
print(f"My dream bike is {bike} Price in india is {price} Its mileage is {mlg}")

My dream bike is ninja H2R Price in india is 7600000 Its mileage is 15

In [21]:
a=b=20
id(a)

140722012333040

In [22]:
id(b)

140722012333040

# Arithmetic Operators

In [32]:
## Exponent
2**5

32

In [24]:
2+3

5

In [25]:
3-2

1

In [26]:
7/2

3.5

In [30]:
## floor division
7//2

3

In [28]:
4*2

8

In [33]:
##modulus
7%2

1

In [41]:
x=20
y=15
x==y

False

In [35]:
x>y

True

In [36]:
x<y

False

In [37]:
z=15
y>=z

True

In [38]:
x!=z

True

In [42]:
x+=y
print(x)

35

In [43]:
y-=z
print(y)

0

In [44]:
z**=y
print(z)

1

In [45]:
x*=z
print(x)

35

In [46]:
z=5
x/=z
print(x)

7.0

In [47]:
24|2

26

In [48]:
30&3

2

In [49]:
24^2

26

In [50]:
24>>2

6

In [51]:
24<<2

96

In [53]:
a=50
b=25
a==50

True

In [54]:
a>80

False

In [55]:
a>20 and b<15

False

In [56]:
a<20 or b>70

False

In [57]:
not a<20

True

In [59]:
k="RohitSharma"
"i" in k

True

In [60]:
"d" in k

False

In [61]:
"d" not in k

True

In [62]:
print(a)
print(b)

50
25

In [65]:
a is b

False

In [66]:
a=845
b=845
a==b

True

In [67]:
# range -5 to 256
a is b

False

In [68]:
a=256
b=256
a==b

True

In [69]:
a is b

True

In [70]:
50/100*2

1.0

In [71]:
10+50/100*2

11.0

In [75]:
#exponent negative value
5**-1

0.2

In [74]:
#10 is greater than 7 and 10 is greater than 2
10>7>2

True